body{
    background: url(img/bg.jpg) no-repeat;
}

nav {
    margin-bottom: 100px;
}


element.style {
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: rgb(0, 0, 0);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(3, 4, 3, 0.989);
}
.navbar-dark .navbar-toggler {
    color: rgb(0 0 0);
    border-color: rgb(0 0 0);
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: black;
    border: 1px solid black;
    border-radius: 20px;
}

a{
    text-transform: uppercase ;
}

#conteudo{
    margin-top: 200px;
    display: flex;
    margin-top: 0px;
}

#conteudo img{
    width: 800px;
    position: absolute;
    text-align: center;
    margin-left: 60px;
}


